@use 'base/variables' as v;

.footer {
    background-color: v.$rosa;
    padding: 2rem 0;
    p{
        margin: 0;
        text-align: center;
        color: v.$blanco;
        text-transform: uppercase;
        .hostname{
            color: v.$morado;
            
            font-weight: 900;
        }
    }
}